.subMenuItem {
  display: block !important;
}
.hiddingElem {
  display: none;
}
ul {
  margin-left: 0.5em;
}
ul li {
  margin-left: 0.5em;
}
.rotateSVG {
  transform: rotate(180deg);
  transition: 0.5s;
}
